<h1>MEMEFLEET</h1>

<p><img src="https://media.npsi.rocks/providers/2023/06/07/whpd.png" alt="The Wormhole Police MemeFleet" style="float: left; margin: 0 1rem 1rem 0;"><b>GET RIGHT WITH THE LAW, Clear your Guilty Conscience, Do Community Service with The Wormhole Police - Every sunday Sunday Sunday! Fleet departs Caldari space at 18:00 (you must be 30 mins early your first time) - DON'T BE LATE - We Coordinate on Discord - <a href="https://discord.gg/yQGfyv5myP" target="_blank" rel="noopener noreferrer">https://discord.gg/yQGfyv5myP</a></b></p>

<p><a href="https://npsi.rocks/hosts/the-wormhole-police" target="_blank" rel="noopener noreferrer">View The Wormhole Police on NPSI Rocks and see some recent roam reports...</a></p>