<H1>OUR MISSION</H1>
<P> The Wormhole Police are dedicated to stopping space piracy<br><br> For far too long the Empires have sent out their
	Miners, Murderers Hackers and Thieves to openly prey on ancient sites critical to the cultures of what they deem
	"Pirate Factions". This xenophobic and genocidal activity is happening without social consequence. The Empire Agents
	are given full authority to keep their knees on the necks of the innocent peoples. People like The Blood
	Raiders.<br><br> We act in total defiance of the empire's wishes to paint these cultures as criminal.<br><br> The
	factions do their best to launch a defense. Using their own forces they eliminate a fair number of empire thieves.
	It is clearly not enough. Unguarded faction sites are being decimated! These sites are being farmed for their
	mineral wealth, mined for their technology, left to evaporate in space.<br><br> Unfortunately, in Empire Space, all
	is lost in this fight! The nature of Empire Space and the hateful Concord "GLORY HOUNDS" prevent us from being an
	effective team. We have encouraged the so-called Pirate Factions to seek shelter under our wing in Wormhole Space..
	The only space free of dirty, filthy Empire Influence. Out here the only rule that applies is MIGHT MAKES
	RIGHT.<br><br> It is estimated that one solo pilot can destroy 100 ancient sites in one day. Hundreds of years worth
	of tek, gas, ore and LIVES lost by one single pilot! It's a big job for a smol force but we do out best to be the
	shining beacon of light in a sea of darkness.<br><br> We are THE WORMHOLE POLICE </P>